:root{
    --color-default:#1c1c1c;
    --color-second:	#D3D3D3;
    --color-white:#89817D;
    --color-body:#4A3F35;
    --color-black:#F06E2D;
}

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#subtitulo{
    font-size: small;
    color: var(--color-white);
}

.tittle{
    margin: 25px 0 0 0px;
    font-size: 20px;
}

.tittle > p {
    margin: 0 0 0 5%;
}

main {
    margin: 20px 0 0 0;
}

.content-table {
    border-collapse: collapse;
    margin: 30px auto;
    font-size: 15px;
    width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 15px #383838;
}
.content-table thead tr{
    background-color: #F06E2D;
    color: #1c1c1c;
    text-align: center;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}
.content-table td{
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr{
    background-color: #1c1c1c;
    color:#dddddd
}
.content-table tbody tr:hover{
    background-color: #383838;
    transition: .6s;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #F06E2D
}


