:root{
    --color-default:#1c1c1c;
    --color-second:	#D3D3D3;
    --color-white:#89817D;
    --color-body:#4A3F35;
    --color-black:#F06E2D;
  }

* {
    font-family: system-ui, -apple-system, Helvetica, sans-serif, Arial;
}
h4{
    text-align: right;
}

#subtitulo{
    font-size: small;
    color: var(--color-white);
}

.text{
    top: 8vh;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
}

