:root{
    --color-default:#1c1c1c;
    --color-second:	#D3D3D3;
    --color-white:#89817D;
    --color-body:#4A3F35;
    --color-black:#F06E2D;
    --color-orange:#ff8c00;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

.bgsolda{
    position: relative;
  }
  
  .bgsolda::before{
    content: '';
    background: url('../images/soldador4.jpg') no-repeat center center;
    width: 100%;
    height: 130px;
    background-color: black;
    z-index: -1;
    position: absolute;
    opacity: .6;
    right: 0;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  
  .bgsolda h2{
    color: var(--search-text);
    /* -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color:#F06E2D; */
    padding: 35px 0px 5px 0px; 
    font-size: 50px;
    text-align: center;
  }
  
  .textoSobre{
    color: var(--search-text);
    font-family: "Times New Roman", sans-serif;
    text-align: justify;
    padding: 3.2em;
  }
  
  .textoSobre .topicos, .cTitulo {
    margin-top: 10px;
  }

  .textoSobre .topicos > .top {
    margin: 5px 0 0 0
  }
  
  .divisor{
    color: var(--search-text);
  }
  
  .divisor h3{
    text-align: center;
    padding: 0 0 10px 0 ;
    font-size: 5vh;
    font-style: italic;
  }
  
  .divisor .image {
    text-align: center;
  }
  
  .divisor .image::before {
    content: "";
    display: inline-block;
    margin-bottom: 2.5vh;
    margin-right: 10px;
    width: 100px;
    height: 0;
    border: 0.5px solid var(--search-text);
  }
  
  .divisor .image::after {
    content: "";
    display: inline-block;
    margin-bottom: 2.5vh;
    margin-left: 10px;
    width: 100px;
    height: 0;
    border: 0.5px solid var(--search-text);
    /*background: linear-gradient(#ECC440, #FFFA8A);*/
  }
  
  .linha-title {
    color: var(--search-text);
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    vertical-align: middle;
  }


.boxes {
    display: flex;
    justify-content: center;
    margin: 3% 7% 7% 7%;
}

.box {
    z-index: 99;
    color: var(--search-text);
}

.boxes .hidden > .box {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80vh;
  height: 50vh;
  padding: 2% 3% 10% 3%;
  /* border-radius: 10px; */
  margin: 0 2% 0 2%;
}

.boxes > .hidden > .box h3 {
  margin-top: 10px;
  color: var(--search-text);
}


.boxes > .hidden > .box p {
    margin-right: 5px;
    margin-top: 20px;
    text-align: justify;
    color: var(--search-text);
}

#caixa01, #caixa02 {
    padding: 30px 30px 70px 30px;
    box-shadow: 5px 10px 25px rgb(0 0 0 / 18%);
    margin-left: 10px;
}

#caixa01:hover {
    border: solid 1px var(--color-default);
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
}

#caixa02:hover {
    border: solid 1px var(--color-default);
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
}

<<<<<<< HEAD

=======
>>>>>>> a3588f4e09264684f09042d0576d0d86b9800c11
.hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1.5s;
<<<<<<< HEAD
}
=======
}

>>>>>>> a3588f4e09264684f09042d0576d0d86b9800c11
