:root{
    --color-default:#1c1c1c;
    --color-second:	#D3D3D3;
    --color-white:#89817D;
    --color-body:#4A3F35;
    --color-black:#F06E2D;
    --color-orange:#ff8c00;
    --search-bar: #ffffff;
    --search-text: #010718;
  }

* {
    font-family: system-ui, -apple-system, Helvetica, sans-serif, Arial;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

#subtitulo{
    font-size: small;
    color: var(--color-white);
}

.tittleIndex {
    font-family: 'Poppins', sans-serif;
  }


.tittleIndex > .tituloIdx{

    font-family: 'Poppins', sans-serif;
    margin: 25px 0 0 5%;
    color: var(--color-black);
    font-size: 30px;
    font-weight: 1000;
    text-shadow: 3px 4px 4px var(--color-black);
    letter-spacing: 1px;
    color: black;
    font-size: 30px;
    font-weight: 1000;
    
}


#boxes {
    margin: 30px 60px 50px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#boxes > .hidden > .box {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 350px;
    height: 250px;
    padding: 25px 25px 40px 25px;
    /* background-color: #89817D; */
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
}

.box > .caixa02{
    color: var(--search-text);
}

#boxes > .box > ol{

    color: var(--search-text);
}

#boxes > .hidden > .box > li {
    margin: 20px 0 0 15px;
    text-align: left;
    color: var(--search-text);
}

#boxes > .hidden > .box > h3 {
    font-size: 23px;
    color: var(--search-text);
}

 #boxes > .box > li {

    color: var(--search-text);
    
}

/* .box:hover {
    border: solid 1px var(--color-default);
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
} */

/* #caixa01:hover, #caixa02:hover, #caixa03:hover{
    border: solid 1px var(--color-default);
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
}  */

/* #caixa02:hover {
    border: solid 1px var(--color-default);
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
}*/

.graphic {
    display: flex;
    justify-content: center;
    margin: 40px 50px 40px 50px;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
}

#boxes :nth-child(1) {
    transition-delay: 300ms;
}

#boxes :nth-child(2) {
    transition-delay: 600ms;
}

#boxes :nth-child(3) {
    transition-delay: 900ms;
}