:root{
    --color-default:#1c1c1c;
    --color-second:	#D3D3D3;
    --color-white:#89817D;
    --color-body:#4A3F35;
    --color-black:#F06E2D;
  }

* {
    font-family: system-ui, -apple-system, Helvetica, sans-serif, Arial;
    margin: 0;
    padding: 0;
}

#subtitulo{
    font-size: small;
    color: var(--color-white);
}

.text{
    top: 8vh;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 3%;
}

.boxes .box {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 150px;
    height: 70px;
    padding: 2% 3% 10% 3%;
    /* border-radius: 10px; */
    margin: 0 2% 0 2%;
}

.boxes > .box p {
    text-align: justify;
}

#caixa01, #caixa02, #caixa03 {
    padding: 30px 30px 70px 30px;
    box-shadow: 5px 10px 25px rgb(0 0 0 / 18%);
}

#caixa01:hover {
    border: solid 1px var(--color-default);
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
}

#caixa02:hover {
    border: solid 1px var(--color-default);
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
}

#caixa03:hover {
    border: solid 1px var(--color-default);
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
}

