:root{
    --color-default:#1c1c1c;
    --color-second:	#D3D3D3;
    --color-white:#89817D;
    --color-body:#4A3F35;
    --color-black:#F06E2D;
}

*{
    margin: 0 5% 0 5%;
    font-family: 'Poppins', sans-serif;
}

.tittle {
    font-family: 'Poppins', sans-serif;
}

.tittle > .titulos {
    font-family: 'Poppins', sans-serif;
    margin: 25px 0 0 67px;
    color: var(--color-black);
    font-size: 30px;
    font-weight: 1000;
    text-shadow: 3px 4px 4px black;
    letter-spacing: 1px;
    color: #F06E2D;
    font-size: 30px;
    font-weight: 1000;

}

#subtitulo {
    color: var(--color-white);
}

/* hr {
    margin: 2px auto;
    width: 90%;
    border-color: #1c1c1c;
} */

.content-table {
    border-collapse: collapse;
    margin: 6vh auto;
    font-size: 0.9em;
    width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 15px #383838;
}
.content-table thead tr{
    background-color: #F06E2D;
    color: #1c1c1c;
    text-align: center;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}
.content-table td{
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr{
    background-color: #1c1c1c;
    color:#dddddd
}
.content-table tbody tr:hover{
    background-color: #383838;
    transition: .6s;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #F06E2D
}

.vermelho {
    color: rgb(255, 0, 0);
}
.amarelo {
    color: #fffb00;
}
.verde {
    color: rgb(3, 250, 3);
}  

.changes {
    width: 40%;
}

.changes a{
    margin-left: 2px;
}

.changes button{

    border-radius: 10px;
    color: #383838;
}

label{
    font-size: medium;
    margin-top: 50px;
}

.changes button{

    border-radius: 10px;
    color: #ffffff;
}

label{
    font-size: small;
    margin-top: 50px;
    color: white;
}


.TituloEdit{

    font-family: 'Poppins', sans-serif;
    margin: 25px 0px 0px 67px;
    color: var(--color-black);
    font-size: 30px;
    font-weight: 1000;
    text-shadow: 3px 4px 4px black;
    letter-spacing: 1px;
}

.TituloEdit > input{
    margin: 2px, 3px, 5px, 8px;
    size: 30px;
}

.parte-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 5% 0 5%;
}

.actionsTbls {
    display: flex;
    flex-direction: row;
}

.btnFiltro > button{
    padding: 8px 12px 8px 12px;
    background: var(--color-black);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.btnFiltro > button:hover {
    background-color: #363636;
    transition: .8s;
}

.input-Filtro > input {
    width: 250px;
    padding: 8px 10px 8px 13px;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 15px;
}

.btnsAddGerar {
    display: flex;
    flex-direction: row;
}

.btnAdd > a > button{
    width: 150px;
    padding: 8px 10px 8px 10px;
    background: #1c1c1c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    align-items: flex-start;
}

.btnAdd > a > button:hover {
    background-color: #363636;
    transition: .8s;
}

.gera-pdf > a > button {
    padding: 8px 10px 8px 10px;
    background: #1c1c1c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 0 15px 0 0;
}

.gera-pdf > a > button:hover {
    background-color: #363636;
    transition: .8s;
}

.btnAdd > .btnNewFornecedor > button{
    width: 180px;
    padding: 8px 10px 8px 10px;
    background: #1c1c1c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    align-items: flex-start;
}

.btnAdd > .btnNewFornecedor > button:hover {
    background-color: #363636;
    transition: .8s;
}