button[type=submit] {
    width: auto;
    background-color: #F06E2D;
    color: white;
    padding: 9px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    font-size: 15px;
  }
  
  button[type=submit]:hover {
    background-color: #636262;
    transition: 0.8s;
    
  }

  input[type=password], select {
    width: 120%;
    padding: 12px 20px;
    margin: 8px 0 0 -2px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  button[type=submit] {
      width: 100%;
      background-color: #F06E2D;
      color: white;
      padding: 0px 20px;
      margin: 0px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  button[type=submit]:hover {
      background-color: #f35c10;
      transition: 0.9s;
  }

  input[type=text], select {
    width: 120%;
    padding: 12px 20px;
    margin: 8px 0 0 -2px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=number], select {
    width: 120%;
    padding: 12px 20px;
    margin: 8px 0 ;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  /* .TelefoneFuncionario > label {
    margin: 0 0 0 20px;
  } */


/* .inputValues > .cnpj{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0 10PX;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputValues > .Nome{
  width: 60%;
  padding: 12px 0px;
  margin: 8px 0 0 0PX;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
} */

.inputValues-funcionario {
  display: flex;
  flex-direction: row;
  margin: 0px 0 40px -4px;
}

.TelefoneFuncionario, .CPFFuncionario{
  width: 100%;
  margin: 0px 0 0 60px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

 .NomeFuncionario{
  width: 100%;
  margin: 0px 0 0 0px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.NomeFornecedor{
  width: 60%;
  padding: 12px 0px;
  margin: 8px 0 0 0px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.CNPJ{
  width: 60%;
  padding: 12px 0px;
  margin: 8px 0 0 10PX;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.Valor, .Qtd, .Modelo, .Funcionario, .Tipo{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0 0 15px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.Tipo > label > .fornecedor{
  margin: 0 0 0 -30px;
}

.QtdAtual {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0 0 15px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.Nome{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0 0 0px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.isAdmin {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0 0 40px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.pPasse {
  width: 80%;
  padding: 12px 0px;
  margin: 8px 0 0 0px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}