@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --color-default:#1c1c1c;
  --color-second:	#D3D3D3;
  --color-white:#89817D;
  --color-body:#4A3F35;
  --color-black:#F06E2D;
  --search-bar: #F2F2F2;
  --search-text: #010718;
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  font-size:20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 0 0 50px;
}

.container .logo {
  cursor: default;
}

.sidebar{
  min-height: 100vh;
  width: 78px;
  padding: 6px 14px;
  z-index: 10;
  background-color: var(--color-default);
  transition: all .5s ease;
  position: fixed;
  top:0;
  left: 0;
}

.sidebar.open{
  width: 260px;
}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
}

.sidebar .logo_details .logo_name{
  color:var(--color-black);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn{
  position: absolute;
  top:3.7vh;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
  text-shadow: 1px 2px 5px #F06E2D;
}

.sidebar.open .logo_details #btn{
  text-align: right;
  text-shadow: 1px 2px 5px #F06E2D;
}

.sidebar i{
  color:var(--color-black);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list{
  margin-top: -5px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin:8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top:-20px;
  left:calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: var(--color-black);
  font-weight: 400;
  outline: none;
  height: 35px;
  width: 35px;
  border:none;
  border-radius: 5px;
  transition: all .5s ease;
}

.sidebar.open input{
  width: 100%;
  padding: 0 20px 0 50px;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  transform: scaleX(1);
  color:var(--color-default)
}

.sidebar li a .link_name{
  color:var(--color-black);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color:var(--color-default)
}

.sidebar.open li a .link_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i{
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.home-section{
  position: absolute;
  background-color: var(--color-body);
  min-height: 100vh;
  top:0vh;
  left:78px;
  width: calc(100% - 78px);
  transition: all .6s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section{
  left:250px;
  width: calc(100% - 250px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    color: rgb(168, 167, 167);
    text-decoration: none;
    transition: 0.5s;
  }

nav li:hover {
  opacity: 0.7;
}

.container .logo {
  cursor: default;
  color: var(--color-black);
}

nav {
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, sans-serif, Arial;
  background: var(--color-default);
  height: 55px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navlist {
  list-style: none;
  z-index: 999;
}

.navlist:hover{
  opacity: 0.7;
}

.navlist li {
  position: absolute;
  right: 30px;
  top: 2.5vh
}

#ins, #epi {
  margin-left: 20px;
  font-size: 14px;
  height:4vh;
}

@media (max-width:900px){
  .navlist {
    display: flex;
    font-size: 14px;
    align-items: center;
  }
  .logo {
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    top:2.7vh;
    cursor: default;
    margin-left: 10vh;
  }
  .logo_rv {
    position: fixed;
    margin-top: 1.2vh;
    margin-left: 3vh;
    cursor: default;
    align-items: center;
  }
}

.logo_rv {
  position: relative;
  margin-top: 1.2vh;
  margin-left: 3vh;
  cursor: default;
}

#icons {
  text-shadow: 1px 2px 5px #F06E2D;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px; 
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


.topnav > nav > ul > .user-logado{
  color: #F06E2D;
  font-size: small;
  margin-left: 325px;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.tittle {
  font-family: 'Poppins', sans-serif;
}

.tittle > .titulos {
  font-family: 'Poppins', sans-serif;
  margin: 25px 0 0 5%;
  color: var(--color-black);
  font-size: 30px;
  font-weight: 1000;
  text-shadow: 3px 4px 4px black;
  letter-spacing: 1px;
  color: #F06E2D;
  font-size: 30px;
  font-weight: 1000;

}

#subtitulo {
  color: var(--color-white);
}

/* hr {
  margin: 2px auto;
  width: 90%;
  border-color: #1c1c1c;
} */

.content-table {
  border-collapse: collapse;
  margin: 6vh auto;
  font-size: 0.9em;
  width: 90%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 15px #383838;
}
.content-table thead tr{
  background-color: #F06E2D;
  color: #1c1c1c;
  text-align: center;
  font-weight: bold;
}

.content-table th, .content-table td{
  padding: 12px 15px;
}
.content-table td{
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr{
  background-color: #1c1c1c;
  color:#dddddd
}
.content-table tbody tr:hover{
  background-color: #383838;
  transition: .6s;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #F06E2D
}

.vermelho {
  color: rgb(255, 0, 0);
}
.amarelo {
  color: #fffb00;
}
.verde {
  color: rgb(3, 250, 3);
}  

.changes {
  width: 40%;
}

.changes a{
  margin-left: 2px;
}

.changes button{

  border-radius: 10px;
  color: #383838;
}

/* 
input[type=text], select {
  width: 90%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 90%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

label{
  font-size: small;
  margin-top: 50px;
}


.TituloEdit{

  font-family: 'Poppins', sans-serif;
  margin: 25px 0 0 67px;
  margin-bottom: 20px;
  color: var(--color-black);
  font-size: 20px;
  font-weight: 1000;
  text-shadow: 3px 4px 4px black;
  letter-spacing: 1px;
}

.TituloEdit > input{
  margin: 2px, 3px, 5px, 8px;
  size: 30px;
}

.btnfuncoes{
  display: flex;
  flex-direction: row;
}

.btnSalvar{

 margin-right: 20px;

}

.Nome{

  color: var(--search-text);

}

.Modelo{

  margin-left: 15px;
  color: var(--search-text);

}

.Valor{

  margin-left: 15px;
  color: var(--search-text);

}

.Qtd{

  margin-left: 15px;
  color: var(--search-text);

}

.tela-editar{

  display: flex;
  margin: 0 5% 0 5%;
}

.deixar-column {
  display: flex;
  flex-direction: column;
}

.inputValues {
  display: flex;
  flex-direction: row;
}

.btnFuncoes {
  display: flex;
  flex-direction: row;
}

.btnFuncoes > .btnCancela {
  display: inline;
  width: 100px;
  background-color: #F06E2D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  padding: 8px 15px;
}

.btnFuncoes > .btnCancela a {
  color: white;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.btnFuncoes > .btnCancela:hover {
  background-color: #636262;
  transition: 0.8s;
  
}
/* 
button[type=submit] {
  width: 100px;
  background-color: #F06E2D;
  color: white;
  padding: 9px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
}

button[type=submit]:hover {
  background-color: #636262;
  transition: 0.8s;
  
} */

